<html>
<head>
    <meta name="description" content="Описание страницы">
    <link rel="icon" href="fav.ico" type="image">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>{% block title %}Site Title{% endblock %}</title>
</head>
<body>
  <div>
    {% block sidebar %}
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/about/">About</a></li>
    </ul>
    {% endblock %}
  </div>
  <main>
    <div>
      {% block content %}{% endblock %}
    </div>
  </main>
</body>
</html>